extends layout

block content
  h1= title
  p Welcome to #{title}
  p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque mi lectus, ultrices ut neque nec, condimentum pellentesque magna. Nunc placerat mi urna, eu iaculis ex volutpat ac. Aenean sit amet dolor eget augue volutpat tristique ut non velit. Morbi at tellus dolor. Cras sollicitudin elementum erat et volutpat. Nam sed lobortis ex. Nulla gravida pretium hendrerit. Cras dapibus leo eros. Pellentesque fringilla tortor fringilla diam vehicula, quis pellentesque purus ultrices. Aliquam tempor velit ac ante sollicitudin viverra. Curabitur euismod massa ut vehicula blandit.
  img(src='/jade.png' alt='test')
  p
    a(href="./form") Form
  p
    a(href="./") Index